body{
    background-color: rgb(248, 155, 220);
    color:rgb(42, 24, 20);

    font-family: "Edu NSW ACT Foundation", cursive;
    
}

header{
   font-size: 50px;
}
h1 {
  font-size: 30px;
}
p{
    font-size: 20px;
}